html, body, #map_out, #directions_out {
    height: 100%;
    background-color: #333;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}


#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
}

/*#load_spinner{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*Default to hidden*/
#directions_out {
    width: 0%;
    background-color: #fff;
    float: right;
}

#map_out .show_directions{
    width: 80%;
}
#directions_out .show_directions{
    width: 20%;
}

/*@media only screen and (min-width: 960px){*/
/*	#map_out .show_directions{*/
/*       width: 80%;*/
/*    }*/
/*    #directions_out .show_directions{*/
/*        width: 20%;*/
/*    }*/
/*}*/
/**/
/*@media only screen and (max-width: 960px){*/
/*	#map_out .show_directions{*/
/*       width: 70%;*/
/*    }*/
/*    #directions_out .show_directions{*/
/*        width: 30%;*/
/*    }*/
/*}*/
/**/
/*@media only screen and (max-width: 650px){*/
/*	#map_out .show_directions{*/
/*       width: 60%;*/
/*    }*/
/*    #directions_out .show_directions{*/
/*        width: 40%;*/
/*    }*/
/*}*/