.main-container{
    max-width: 1000px;
    width: 100%;
    height: 80%;
    position: relative;
}

.container-content{
    width: 100%;
    /*position: static;*/
    float: left;   
}

.spinner{
    top: 100px;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 40%;
}

#loader {
    top:60px;
    position: absolute;
    width:100%;
}

#map_out {
    width: 100%;
    top: 77px;
    position: relative;
    height: 542px;
}